<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my commen section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="section">
        <% personData.forEach(function(person) { %>
            <div class="comment">
                <h1><%= person.username %></h1>
                <h2><%= person.occupation %></h2>
                <p><%= person.comments %></p>
            </div>
        <% }); %>        
        <div class="input-files">
            <form action="/" method="post">
                <input type="text" name="username" placeholder="input username">
                <input type="text" name="occupation" placeholder="whats occupation">
                <input type="text" name="comment" placeholder="how did you find our service">
                <button type="submit">add comment</button>
            </form>
        </div>
    </section>
</body>
</html>