<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my commen section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="comments">
        <h1><%= name %></h1>
        <h2>front-end engineer</h2>
        <p><strong>"</strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, repudiandae accusantium consequatur quos quod tempore, et commodi iure aspernatur eveniet magnam, fugiat quam aliquid error soluta reiciendis amet debitis nobis. <strong>"</strong></p>
    </div>
    <div class="input-files">
        <form action="/" method="post">
            <input type="text" name="username" placeholder="input username">
            <input type="text" name="occupation" placeholder="whats occupation">
            <input type="text" name="comment" placeholder="how did you find our service">
            <button>add comment</button>
        </form>
    </div>
</body>
</html>