<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link rel="stylesheet" href="style.csss">
</head>
<body>
    <div class="comment">
        <h1><%= name %></h1>
        <h2><%= occupation %></h2>
        <p><%= comment %></p>
    </div>
    <form action="/" method="post">
        <input name="names" type="text" placeholder="whats your name">
        <input name="occupations" type="text" placeholder="whats your occupation">
        <input name="comments" type="text" placeholder="write your comment about us here!">
        <button type="submit">submit</button>
    </form>
</body>
<!-- <script src="index.js"></script> -->
</html>